# copy this file to /etc/systemd/system/lightControl.service (try coping via link with -l option)
# enable on system boot with sudo systemctl enable homeLights.service 
[Unit]
Description=Google Assistant light control for Lutron wireless remote and direct attic light control
After=network.target

[Service]
ExecStart=/home/pi/code/homeLights/lights
WorkingDirectory=/home/pi/code/homeLights
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
